NET "CLK" LOC = P7;

NET "LED[7]" LOC = IO_LED1;
NET "LED[6]" LOC = IO_LED2;
NET "LED[5]" LOC = IO_LED3;
NET "LED[4]" LOC = IO_LED4;
NET "LED[3]" LOC = IO_LED5;
NET "LED[2]" LOC = IO_LED6;
NET "LED[1]" LOC = IO_LED7;
NET "LED[0]" LOC = IO_LED8;
